.note {
  border: 0.25px solid rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.4);
  padding: 1rem;
  max-width: 150px;
  margin: 1rem;
}

.note__txt {
  color:#f0f8ff;
  font-size: 2rem;
  font-weight: 400;
}