/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-1;
  /* background-image: url('https://images.unsplash.com/photo-1514810771018-276192729582?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1608716969705-279f56774c0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2048&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1617460647086-92d928f9f0ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3033&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2862&q=80');
  background-size: cover;
  background-attachment: fixed;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.intro-pages {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 35%;
}

.fade-in {
  animation: fadein 2s;
}

.slower-fade-in {
  animation: fadein 3s;
}

.heading {
  font-size: 4rem;
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.extra-spacing {
  line-height: 2.5rem;
}

.standard-btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  padding: 0.75rem;
  background-color: transparent;
  color: white;
  font-weight: 400;
  border: none;
}

.standard-btn:hover {
  font-weight: 700;
  animation: neon 0.05s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(255, 255, 255, 0.2),
    0 0 30px rgba(255, 255, 255, 0.2),
    0 0 12px rgba(255, 255, 255, 0.2),
    0 0 21px rgba(30,132,242,0.2),
    0 0 34px rgba(255, 255, 255, 0.2),
    0 0 54px rgba(255, 255, 255, 0.2);
  }
  to {
    text-shadow:
    0 0 6px rgba(255, 255, 255, 0.2),
    0 0 30px rgba(255, 255, 255, 0.2),
    0 0 12px rgba(255, 255, 255, 0.2),
    0 0 22px rgba(30,132,242,0.2),
    0 0 38px rgba(30,132,242,0.2),
    0 0 60px rgb(255, 255, 255);
  }
}
