.header-content {
  display: flex;
  flex-direction: column;
}

.header-content__heading {
  margin-top: 0.5rem;
  align-self: center;
}

.header-btns {
  margin: auto;
}

.header-btn {
  color: #f0f8ff;
  background-color: transparent;
  border: none;
  margin: 0 1rem;
  font-size: 1.5rem;
  text-shadow:
  0 0 6px rgba(255, 255, 255, 0.2),
  0 0 30px rgba(255, 255, 255, 0.2),
  0 0 12px rgba(255, 255, 255, 0.2),
  0 0 21px rgba(30,132,242,0.2),
  0 0 34px rgba(255, 255, 255, 0.2),
  0 0 54px rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 768px) {
  .header-btn {
    font-size: 0.75rem;
    border: 0.25px solid rgba(255,255,255,0.3);
    padding: 0.2rem 0.4rem;
  }
}

.modal-form {
  background-color: green;
  padding: 1rem;
}

.modal-instructions {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  background-color:rgba(255,255,255,0.6);
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(240, 248, 255, 0.6);
  color: #001440;
  font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
  .modal-instructions {
    font-size: 1rem;
    font-weight: 500;
    background-color:rgba(255,255,255,0.7);
  }
}

.modal-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  align-self: flex-end;
  color: #001440;
}

.modal-btn:hover {
  font-weight: 700;
  text-shadow:
    0 0 6px rgba(38, 87, 194, 0.192),
    0 0 30px rgba(40, 98, 223, 0.3),
    0 0 12px rgba(116, 114, 255, 0.2),
    0 0 21px rgba(118, 184, 255, 0.2),
    0 0 34px rgba(87, 71, 235, 0.2),
    0 0 54px rgba(255, 255, 255, 0.2);
}

.modal-instructions__txt {
  padding: 1.5rem 0;
}